.Brewery-card {
  max-width: 900px;
  margin: 3rem auto;
  background-color: rgba(244, 230, 175, 0.496);
}
.Brewery-list-group {
  max-width: 100%;
  text-align: left;
  border: 1px solid black;
  border-radius: 10px;
}
.Brewery-list-group-item {
  background-color: rgba(241, 231, 190, 0.496);
}
/* .card-img {
  margin: 10px;
  width: 15vw;
} */

.Brewery-edit-btn {
  background-color: rgb(158, 216, 113);
  width: 80%;
  font-weight: bold;
  border-radius: 10px;
}
.Brewery-edit-btn:hover {
  background-color: rgb(143, 198, 101);
}
